{% extends 'base.html.twig' %}

{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="starter-template">
            <div class="page-header" id="pageHeaderMyCourse">
                <h1>My Courses</h1>
            </div>

            <div class="row">
                <div class="col-md-12" id="message">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="page-header">
                        <h3>Learning (0)</h3>
                    </div>
                    <p>You haven't subscribed to any of the courses</p>
                </div>

                <div class="col-md-6">
                    <div class="page-header">
                        <h3>Teaching ({{ courses|length }})</h3>
                    </div>
                    <ul class="user-course-list">
                        {% for course in courses %}
                            <li>
                                <a role="button" class="btn-link" href="/courses/{{ course.id }}" title="{{ course.title }}">{{ course.title }}</a>
                                <a role="button" class="btn-link" href="/courses-edit/{{ course.id }}" title="Update Your Course"><span class="glyphicon glyphicon-edit"></span></a>
                                <div class="dropdown menu-inline">
                                    <a class="dropdown-toggle" id="ctAction" role="button" data-toggle="dropdown" data-target="#" href="http://internalcourses.devcom.com/course/my_course#">
                                        <span class="glyphicon glyphicon-plus-sign"></span><b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="ctAction">
                                        <li role="presentation"><a role="menuitem" href="http://internalcourses.devcom.com/section/create_section/16" title="Add Section">Add Section</a></li>
                                        <li role="presentation"><a role="menuitem" href="http://internalcourses.devcom.com/lecture/create_lecture/16" title="Add Lecture">Add Lecture</a></li>
                                        <li role="presentation"><a role="menuitem" href="http://internalcourses.devcom.com/test/create_test/16" title="Add Test">Add Test</a></li>

                                    </ul>
                                </div>
                                <a class="btn-link btn-delete" title="Delete Your Course" data-delete-url="/courses-delete/16" data-target="#deleteConfirmation" data-toggle="modal" href="http://internalcourses.devcom.com/course/my_course#">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <small>{{ course.subTitle }}</small>
                            </li>
                        {% endfor %}

                    </ul>
                    <p>
                        <!--<a role="button" href="#" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-right"></span></a>-->
                        <a role="button" href="/courses/new" class="btn btn-default">Create New Course <span class="glyphicon glyphicon-plus-sign"></span></a>
                    </p>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="deleteConfirmationLabel">Confirm your deleting</h4>
                        </div>
                        <div class="modal-body">Do you really want to delete this course?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary confirm-deleting">Delete</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.Modal -->

            <script type="text/javascript">
                var error_message = 'Something wrong during deleting. Please refresh your page and try again.';
                var deleteUrl = null;
            </script>
            <script type="text/javascript" src="./DevCom Courses - My Courses_files/scripts.js"></script>
            <script type="text/javascript" src="./DevCom Courses - My Courses_files/course.js"></script>  </div>
    </div>
{% endblock %}
